* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-family: 'Lobster', sans-serif;
}
h2{
    font-size: 24px;
}
p{
    font-size: 16px;
}
.header-arriba{
    background-color: rgb(84, 167, 192);
}
main{
    background: linear-gradient(to bottom, #dadada, #ffff);
}
.redes a{
    text-decoration: none;
    margin-left: 15px;
    color: rgb(218, 237, 243);
}
.logo{
    margin-top: 20px;
    text-align: center;
}

.nav-list {
    border-top: 1px solid rgb(5, 5, 56);
    background-color: rgb(84, 167, 192) ;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 6rem;
    border-bottom:1px solid rgb(5, 5, 56) ;
}
.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.nav-list li a:hover{
    color:rgb(5, 5, 56);
    background-color:rgb(218, 237, 243);
    border-radius: 5px;
}
.abrir-menu,
.cerrar-menu {
    display: none;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Translúcido */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegura que esté sobre todo el contenido */
}

.welcome-message {
    background-color:rgba(37, 37, 37, 0.9);
    color:#ececec;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.welcome-message h2 {
    margin-bottom: 10px; /* Espacio entre el h2 y el p */
}

.welcome-message p {
    margin-bottom: 20px; /* Espacio entre el p y el botón */
}

#accept-button {
    padding: 10px 20px;
    background-color: white;
    color: rgb(84, 167, 192); /* Color de las letras */
    border: 2px solid rgb(84, 167, 192); /* Borde */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Transición de colores */
}

#accept-button:hover {
    background-color: rgb(84, 167, 192); /* Cambio de color de fondo al pasar el cursor */
    color: white; /* Cambio de color de las letras al pasar el cursor */
}

#accept-button:hover {
    background-color:  rgb(84, 167, 192);
}
.que-son-las-constelaciones {
    background-color: rgb(84, 167, 192); /* Fondo */
    color: white; /* Color de texto */
    padding: 20px; /* Espaciado interno */
    border-radius: 30px; /* Bordes redondeados */
    margin-top: 15px;
    margin-bottom: 20px; /* Espaciado inferior */
}

.que-son-las-constelaciones h2 {
    font-size: 24px; /* Tamaño del título */
    margin-bottom: 10px; /* Espaciado inferior */
    text-align: center;
    background: linear-gradient(to right,  rgb(84, 167, 192), #feb47b); /* Fondo degradado */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
    border-radius: 5px; 
}

.que-son-las-constelaciones div {
    margin-bottom: 10px; /* Espaciado inferior */
}

.que-son-las-constelaciones p {
    font-size: 16px; /* Tamaño del párrafo */
    line-height: 1.6; /* Espaciado entre líneas */
    margin: 0; /* Elimina el margen por defecto */
}
.bert-hellinger{
    text-align: center;
}
.bert-hellinger img{
    width: 90px;
    height: auto;
    border: solid 2px rgb(84, 134, 192) ;
    border-radius: 15px;
    transition: transform 0.5s ease;
}
.bert-hellinger img:hover{
    transform: scale(1.1);
}
.constelaciones-familiares-explicacion{
    background-color: rgb(84, 167, 192); /* Fondo */
    color: white; /* Color de texto */
    padding: 20px; /* Espaciado interno */
    border-radius: 30px; /* Bordes redondeados */
    margin-top: 15px;
    margin-bottom: 20px; /* Espaciado inferior */
}
.constelaciones-familiares-explicacion h2{
    font-size: 24px; /* Tamaño del título */
    margin-bottom: 10px; /* Espaciado inferior */
    text-align: center;
    background: linear-gradient(to right,  rgb(84, 167, 192), #feb47b); /* Fondo degradado */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
    border-radius: 5px; 
}
.constelaciones-familiares-explicacion div{
    margin-bottom: 10px;
}
.constelaciones-familiares-explicacion p {
    font-size: 16px; /* Tamaño del párrafo */
    line-height: 1.6; /* Espaciado entre líneas */
    margin: 0; /* Elimina el margen por defecto */
}
.material-icons {
    font-size: 24px; /* Tamaño del ícono */
    margin-right: 10px; /* Espaciado derecho */
    color: #7a7a7a;
    border-right: none;
    width: 8ch;
}
span{
    display: block;
    font-family: monospace;
    font-size: 16px;
    margin-left: 15px;
    font-weight: bold;
    white-space: nowrap;
    border-right: 4px solid;
    width: 26ch;
    margin-top: auto;

    animation:typing 2s steps(26),
    blink .5s infinite step-end alternate;
    overflow: hidden;
}
.contenedor {
    display: flex;
    justify-content: center;
}

.q-podemos-constelar, .quienes-pueden-constelar {
    width: calc(50% - 7.5px); /* Calcula el 50% del ancho menos el espacio */
    margin-right: 15px; /* Espacio entre los divs */
}
.q-podemos-constelar{
    background-color: rgb(84, 167, 192) ;
    color: white; /* Color de texto */
    padding: 20px; /* Espaciado interno */
    border-radius: 40px; /* Bordes redondeados */
    margin-top: 15px;
    margin-bottom: 20px;
    border-style: dashed;
}
.q-podemos-constelar h2{
    font-size: 24px; /* Tamaño del título */
    margin-bottom: 10px; /* Espaciado inferior */
    text-align: center;
    background: linear-gradient(to right,  rgb(84, 167, 192), #feb47b); /* Fondo degradado */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
    border-radius: 5px; 
}
.q-podemos-constelar div{
    margin-bottom: 10px;
}
.q-podemos-constelar p{
    font-size: 16px; /* Tamaño del párrafo */
    line-height: 1.6; /* Espaciado entre líneas */
    margin: 0; /* Elimina el margen por defecto */
}
.quienes-pueden-constelar{
    background-color: rgb(84, 167, 192) ;
    color: white; /* Color de texto */
    padding: 20px; /* Espaciado interno */
    border-radius: 40px; /* Bordes redondeados */
    margin-top: 15px;
    margin-bottom: 20px;
    margin-right: 0; /* Elimina el margen derecho del último div */
    border-style: dashed;
}
.quienes-pueden-constelar h2{
    font-size: 24px; /* Tamaño del título */
    margin-bottom: 10px; /* Espaciado inferior */
    text-align: center;
    background: linear-gradient(to right,  rgb(84, 167, 192), #feb47b); /* Fondo degradado */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
    border-radius: 5px; 
}
.quienes-pueden-constelar div{
    margin-bottom: 10px;
}
.quienes-pueden-constelar p{
    font-size: 16px; /* Tamaño del párrafo */
    line-height: 1.6; /* Espaciado entre líneas */
    margin: 0; /* Elimina el margen por defecto */
}
@keyframes typing{
    from{
        width: 0;
    }
}
@keyframes blink{
    50%{
        border-color: transparent;
    }
}
.container-card-nosotros{
    font-family: "Baloo 2", sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-bottom: 35px;
}
#card-nosotros{
    position: relative;
    margin-top: 50px;
    width: 300px;
    height: 350px;
    border-radius: 1px; /* Aplica el borde redondeado */
    border: 1px solid  rgb(5, 5, 56); /* Aplica una línea azul */
}
#card-nosotros .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    transition: .5s;
    border-radius: 1px; /* Aplica el borde redondeado */
    border: 1px solid  rgb(5, 5, 56); /* Aplica una línea azul */
}
#card-nosotros .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}
#card-nosotros .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#card-nosotros .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}
#card-nosotros .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(48, 100, 116);
    padding: 15px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}
#card-nosotros .back .link{
    border-top: solid 1px #fff;
    height: 50px;
    line-height: 50px;
}
#card-nosotros .back .link a{
    color: #fff;
}
#card-nosotros .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
#card-nosotros .back p{
    letter-spacing: 1px;
}
#card-nosotros:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
#card-nosotros:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
footer {
    font-family: "Protest Revolution", sans-serif;
    width: 100%;
    padding: 5px 60px;
    background-image: url(../assets/background-footer.svg);
    overflow-x: hidden;
}
.container-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 0px;
}
.box-footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.box-footer .logo-footer img{
    width: 120px;
}
.box-footer .terms{
    font-size: 20px;
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
}
.box-copy{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}
.box-copy p{
    font-family: 'Lobster', sans-serif;
    margin-top: 20px;
    color: #7a7a7a;
}
.box-copy hr{
    margin-top: 35px;
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}
@media (min-width: 769px){
    span{
        display: none;
    }
}
@media (max-width: 768px){
    li a{
        font-size: 20px;
    }
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }
    .abrir-menu {
        color: white;
        font-size: 35px;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: flex-start;
        background-color: rgb(84, 167, 192);
        border-top: 0.5px white;
        border-bottom:0.5px white;
    }
    .cerrar-menu {
        color: #ececec;
        font-size: 25px;
    }
    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        z-index: 1000;
    }
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    .nav-list {
        background-color: #1c1c1c;
        flex-direction: column;
        align-items: end;
        border-top: none;
        border-bottom: none;
    }
    .nav-list li a {
        color: #ecececec;
    }
    .contenedor {
        flex-direction: column; /* Cambia la dirección a una columna */
        align-items: center; /* Centra los divs en el eje horizontal */
    }
    
    .q-podemos-constelar, .quienes-pueden-constelar {
        margin: 15px 0; /* Espacio entre los divs cuando están apilados */
    }
}


@media (max-width: 425px){
    h2{
        font-size: 20px;
    }
    p{
        font-size: 14px;
    }
    .logo{
        margin-top:-10px;
    }
    .logo img{
        transform: scale(0.8);
    }
    footer{
        padding: 0px 15px;
    }
    .box-footer{
        padding: 30px;
    }
    .box-footer .logo-footer img{
        width: 100px;
    }
    .box-footer .terms{
        max-width: 250px;
        margin-top: 10px;
        font-size: 10px;
    }
    .box-copy{
        padding: 1px 20px;
    }
    .box-copy p{
        margin-top: 10px;
        font-size: 10px;
    }
}